# Virtuoso files /data/db
/data/db/*
/data/elasticsearch/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
.DS_Store
*~
data/imports/*

docker-compose.override.yml
config/migrations/*-sensitive*
config/search/*.store
.env
