version: '3.4'

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  toezicht-abb:
    image: lblod/frontend-toezicht-abb:0.14.0
    links:
      - identifier:backend
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.7.0
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: "[{\"variables\":[],\"name\":\"public\"}]"
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:1.1.2
    volumes:
      - ./config/dispatcher:/config
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  database:
    image: semtech/mu-authorization:0.6.0-beta.4
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virtuoso:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.6.0
    links:
      - virtuoso:database
    volumes:
      - ./config/migrations:/data/migrations
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  import:
    image: lblod/mandaten-import-service:0.3.2
    links:
      - virtuoso:database
    volumes:
      - ./data/imports:/data/imports # map to actual directory on your system
      - ./config/import/queries:/data/queries
    environment:
      KEEP_DATA: "true"
      CRON_PATTERN: "0 4 * * *"
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b" # ABB
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.9.0
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op/.well-known/openid-configuration"
      MU_APPLICATION_AUTH_CLIENT_ID: "68799bf1-f9eb-4d23-be16-c07c31ae342c"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://besluiten.abb.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "abb_databanktoezicht_rol_3d"
      MU_APPLICATION_AUTH_USERID_CLAIM: "sub"
      MU_APPLICATION_AUTH_ACCOUNTID_CLAIM: "sub"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b" # ABB
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.0
    links:
      - resource:backend
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.19.0
    volumes:
      - ./config/resources:/config
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.1.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  search:
    image: semtech/mu-search:0.6.0-beta.11
    volumes:
       - ./config/search:/config
       - ./data/files:/data
    environment:
      NUMBER_OF_THREADS: 4
      JRUBY_OPTIONS: "-J-Xmx8g" # overwrite for development
      # LOG_LEVEL: "info"
    logging: *default-logging
    # labels:
    #  - "logging=true"
    restart: always
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.0.0
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    restart: always
    environment:
      - discovery.type=single-node
    # logging: *default-logging
    # labels:
    #   - "logging=true"
  enrich-submission:
    image: lblod/enrich-submission-service:0.7.1
    volumes:
      - ./config/semantic-forms:/data/semantic-forms
      - ./data/files/submissions:/share/submissions
    environment:
      ACTIVE_FORM_FILE: "share://semantic-forms/20200508151443-forms.ttl"
      PUBLIC_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b" # ABB
      FILE_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b" # ABB

