{% macro render_delta(
    subject=None,
    predicate=None,
    object=None,
    default_value="onbekend",
    all_format="{}",
    unchanged_format="{}",
    deleted_format="<del>{}</del>",
    inserted_format="<ins>{}</ins>",
    format_function=None
) %}
    {# This is ugly, but it's what the docs suggest... #}
    {% set ns = namespace(printed=false) %}

    {% for unchanged_part in unchanged[subject:predicate:object] %}
        {{ unchanged_format.format(
            all_format.format(
                format_function(unchanged_part) if format_function else unchanged_part
            )
        ) | safe }}
        {% set ns.printed = true %}
    {% endfor %}

    {% for deleted_part in deletes[subject:predicate:object] %}
        {{ deleted_format.format(
            all_format.format(
                format_function(deleted_part) if format_function else deleted_part
            )
        ) | safe }}
        {% set ns.printed = true %}
    {% endfor %}

    {% for inserted_part in inserts[subject:predicate:object] %}
        {{ inserted_format.format(
            all_format.format(
                format_function(inserted_part) if format_function else inserted_part
            )
        ) | safe }}
        {% set ns.printed = true %}
    {% endfor %}

    {% if not ns.printed and default_value %}
        {{ default_value }}
    {% endif %}
{%- endmacro %}

<html>
    <body>
        {{ render_delta(agendapunt, DCTERMS.title, all_format="<h1>{}</h1>") }}

        {{ render_delta(
            subject=agendapunt,
            predicate=OWL.sameAs,
            unchanged_format="<a href=\"{}\">Externe link</a><br>",
            deleted_format="<a href=\"{}\">Oude link</a><br>",
            inserted_format="<a href=\"{}\">Nieuwe link</a><br>",
            default_value=None
        ) }}

        {% if stemming %}
            <h3> Stemming </h3>
            {{render_delta(
                stemming,
                BESLUIT.gevolg,
                default_value="",
                all_format="<b>{}</b>"
            ) }}
            <ul>
                <li> voor: {{render_delta(
                    stemming,
                    BESLUIT.aantalVoorstanders
                )}} </li>
                <li> tegen: {{render_delta(
                    stemming,
                    BESLUIT.aantalTegenstanders
                )}} </li>
                <li> onthouding: {{render_delta(
                    stemming,
                    BESLUIT.aantalOnthouders
                )}} </li>
            </ul>
        {% endif %}

        {% if zitting %}
        <h2> Zitting {{ render_delta(
            zitting,
            PROV.startedAtTime,
            default_value="",
            format_function=format_date
        )}} </h2>
            Gepland op:
            {{ render_delta(
                zitting,
                BESLUIT.geplandeStart,
                format_function=format_date
            )}} <br>
            Locatie: {{ render_delta(zitting, PROV.atLocation) }} <br>

            {% if zitting_notulen %}
                {{ render_delta(
                    zitting_notulen,
                    OWL.sameAs,
                    all_format="Notulen: <a href=\"{}\">link</a>"
                ) }}
            {% else %}
                Notulen: onbekend
            {% endif %}
            <br>
        {% endif %}
    </body>
</html>
